name: ci
on: [push, pull_request]
jobs:
  build-MacOS:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - run: brew install autoconf automake libtool
    - run: ./build.sh
    - run: sudo make install
    - run: make distclean

  build-Linux:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - run: ./build.sh
    - run: sudo make install
    - run: make distclean
